%h2 New Redirect Rule
- form_for @rule, '/admin/plugins/redirect/rules', :method => 'post' do |f|
  .field
    = f.label :pattern
    %br/
    = f.text_field :pattern
  .field
    = f.label :substitution
    %br/
    = f.text_field :substitution
  %p= f.submit t('new')
